<h1 class="text-center">Eat Da Burger!</h1>

<div class="container">

    <div class="row">
        <div class="col-md-5">
            <h2 id="available-burgers" class="text-center">Available Burgers</h2>

            <ul class="list-group list-group-flush">
                {{#each burgers}}
                {{#unless devoured}}
                <li class="list-group-item">{{burger_name}}<button data-id="{{this.id}}" class="btn btn-warning ml-3 devour">Devour
                    It!</button></li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col-md-2"></div>

        <div class="col-md-5">
            <h2 id="devoured-burgers" class="text-center">Devoured Burgers</h2>

            <ul class="list-group list-group-flush">
                {{#each burgers}}
                {{#if devoured}}
                <li class="list-group-item">{{burger_name}}<button data-id="{{this.id}}" class="btn btn-success ml-3 eat-agin">Eat It Again?</button></li>
                {{/if}}
                {{/each}}
            </ul>

        </div>
    </div>
    <div id="add-burger-row" class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <h2>Add a Burger</h2>
            <form class="create-form">

                <div class="form-group">
                    <label for="burger-name">Burger Name:</label>
                    <input class="form-control" type="text" id="burger-name" name="burger-name">
                </div>

                <button type="submit" class="btn btn-lg btn-secondary">Add Burger</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>